<h1><%= current_user.alias if current_user %>'s Front Office</h1>

<ul>
  <%= link_to 'My Team', user_path(current_user) %>
</ul>



logged in as: <%= current_user.alias if current_user %> | <%= link_to 'Log Out', logout_path, method: :delete %>
